# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cfb_c++/freecodecamp.cpp
cfb_c++/numvideo.cpp
cfb_c++/chatgpt(code).cpp
cfb_c++/Aviao.h
cfb_c++/copia44.cpp
